@font-face {
    font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.eot');
    src: url('font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('font/fontawesome-webfont.woff') format('woff'), url('font/fontawesome-webfont.ttf') format('truetype'), url('font/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    outline: none;
    min-height: 100%;
    font-size: 17px;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
    background-color: #c5c7ba;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

}

input,select,textarea, button {
    font-size: 17px;
}

.month {
    margin: 0;
}

.monthHeader {
    color: #ffffff;
    padding: 5px;
    margin: 0;
    background-color: #656565;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(101, 101, 101)), to(rgb(41, 41, 41)));
    background-image: -webkit-linear-gradient(top, rgb(101, 101, 101), rgb(41, 41, 41));
    background-image: -moz-linear-gradient(top, rgb(101, 101, 101), rgb(41, 41, 41));
    background-image: -o-linear-gradient(top, rgb(101, 101, 101), rgb(41, 41, 41));
    background-image: -ms-linear-gradient(top, rgb(101, 101, 101), rgb(41, 41, 41));
    background-image: linear-gradient(top, rgb(101, 101, 101), rgb(41, 41, 41));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#656565', EndColorStr='#292929');
}

.monthName {
    color: #fdff78;
}

.year {
    color: #e8d369;
}

.day {
    margin: 5px;
}

.dayHeader {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #3c8948;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 137, 72)), to(rgb(34, 83, 42)));
    background-image: -webkit-linear-gradient(top, rgb(60, 137, 72), rgb(34, 83, 42));
    background-image: -moz-linear-gradient(top, rgb(60, 137, 72), rgb(34, 83, 42));
    background-image: -o-linear-gradient(top, rgb(60, 137, 72), rgb(34, 83, 42));
    background-image: -ms-linear-gradient(top, rgb(60, 137, 72), rgb(34, 83, 42));
    background-image: linear-gradient(top, rgb(60, 137, 72), rgb(34, 83, 42));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3c8948', EndColorStr='#22532a');
}

.dayDate {
    color: #fdff78;
}

.hoursWorked {
    color: #ffffff;
}

.hoursToWork {
    color: #ffffff;
}

.floatRight {
    float: right;
}

.hoursToWork:before {
    content: "/ ";
    color: #ffff00;
}

.timeEntries{
    display: block;
    margin: 0;
    padding: 0;
}

.timeEntry {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-top: 0;
    border-left: solid 1px #808080;
    border-right: solid 1px #808080;
    border-bottom: solid 1px #808080;
    border-collapse: collapse;
    background-color: #e8ecee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(232, 236, 238)), to(rgb(216, 221, 223)));
    background-image: -webkit-linear-gradient(top, rgb(232, 236, 238), rgb(216, 221, 223));
    background-image: -moz-linear-gradient(top, rgb(232, 236, 238), rgb(216, 221, 223));
    background-image: -o-linear-gradient(top, rgb(232, 236, 238), rgb(216, 221, 223));
    background-image: -ms-linear-gradient(top, rgb(232, 236, 238), rgb(216, 221, 223));
    background-image: linear-gradient(top, rgb(232, 236, 238), rgb(216, 221, 223));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e8ecee', EndColorStr='#d8dddf');

}

.timeEntry:last-child {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.time {
    max-width: 3em;
    text-align: right;
    background: #eff3f5;
    padding: 3px;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #656565;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.time:disabled {
    background: transparent;
    border: transparent;
    font-size: 14px;
    color: #000000;
    opacity: 1;
}

.timeSeparator:before {
    content: "\2192";
}

.timeSeparator {
    width: 0;
}

.project {
    display: block;
    -webkit-appearance: button;
    text-align: right;
    direction: rtl;
    border: 1px solid #656565;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eff3f5;
    color: #000000;
    width: 100%;
}

.project option {
    text-align: right;
}

.project:disabled {
    background: transparent;
    border: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}

.activity {
    display: block;
    -webkit-appearance: button;
    text-align: right;
    direction: rtl;
    border: 1px solid #656565;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eff3f5;
    color: #000000;
    width: 100%;
}

.activity:disabled {
    background: transparent;
    border: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}

.comment {
    display: block;
    border: 1px solid #656565;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    text-align: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eff3f5;
    color: #000000;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.comment:disabled {
    background: transparent;
    border: transparent;
    color: #000000;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 1;
}

.expander {
    display: inline-block;
    font-family: FontAwesome;
    padding-left: 0.5em;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: -5px;
}


.container-collapsed > .content {
    display: none;
}

.container-expanded > .header .expander {
    color: #ffffff;
}

.container-collapsed > .header .expander {
    color: #ffffff;
}

.container-expanded > .header .expander::before {
    content: "\f056";
}

.container-collapsed > .header .expander::before {
    content: "\f055";
}

.modalifier {
    display: block;
    position: absolute;
    z-index: 10;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.dialog {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #000000;
    background-color: #f5f5f5;
    padding: 5px;
    text-align: center;
}

.modalifier-body {
    overflow: hidden;
}
