<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/jquery.mobile-1.0b2.css"/>
    <link rel="stylesheet" href="lib/jquery.mobile.datebox.css"/>

    <script type="text/javascript" src="lib/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/jquery.urls.js"></script>
    <script type="text/javascript">
        $(document).bind("mobileinit", function() {
            $.mobile.page.prototype.options.degradeInputs.date = 'text';
        });
    </script>
    <script type="text/javascript" src="lib/jquery.mobile-1.0b2.js"></script>
    <script type="text/javascript" src="lib/jquery.mobile.datebox.js"></script>
    <script type="text/javascript" src="lib/jquery.tmpl.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>
<body>
<div data-role="page" id="menu">
    <div data-role="header">
        <h1>ZE Mobile</h1>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li><a href="#zeitEditor">Zeit erfassen</a></li>
            <li><a href="#uebersicht">Monats&uuml;bersicht</a></li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li><a href="#anmeldung">Anmelden</a></li>
        </ul>
    </div>
</div>

<div data-role="page" id="anmeldung" data-add-back-btn="true">
    <div data-role="header">
        <h1>Anmeldung</h1>
    </div>
    <div data-role="content">
        <form id="anmeldenForm" data-ajax="false">
            <div data-role="fieldcontain">
                <label for="benutzer">Benutzername</label>
                <input name="benutzer" id="benutzer" type="text"/>
            </div>
            <div data-role="fieldcontain">
                <label for="passwort">Passwort</label>
                <input name="passwort" id="passwort" type="password"/>
            </div>
            <button type="submit">Anmelden</button>
        </form>
    </div>
</div>

<div data-role="page" id="zeitEditor" data-add-back-btn="true">
    <div data-role="header">
        <h1 id="zeitEditorHeader">Zeit erfassen  uuuu</h1>
    </div>
    <div data-role="content">
        <form id="zeitEditorForm" data-ajax="false">
            <div data-role="fieldcontain">
                <label for="tagZeitEditor">Datum</label>
                <input name="tagZeitEditor" id="tagZeitEditor" type="date"
                       data-role="datebox" data-options='{"mode": "calbox", "calStartDay": 1}'>
            </div>
            <div data-role="fieldcontain">
                <label for="vonZeitZeitEditor">Von</label>
                <input name="vonZeitZeitEditor" id="vonZeitZeitEditor" type="date"
                       data-role="datebox" data-options='{"mode": "timeflipbox"}'>
            </div>
            <div data-role="fieldcontain">
                <label for="bisZeitZeitEditor">Bis</label>
                <input name="bisZeitZeitEditor" id="bisZeitZeitEditor" type="date"
                       data-role="datebox" data-options='{"mode": "timeflipbox"}'>
            </div>
            <div data-role="fieldcontain">
                <label for="projektZeitEditor" class="select">Projekt</label>
                <select name="projektZeitEditor" id="projektZeitEditor">
                    <option value="hdi">HDI Gerling</option>
                    <option value="intern">Intern</option>
                </select>
            </div>
            <div data-role="fieldcontain">
                <label for="taetigkeitZeitEditor" class="select">Projekt</label>
                <select name="taetigkeitZeitEditor" id="taetigkeitZeitEditor">
                    <option value="1">Entwicklung</option>
                </select>
            </div>
            <div data-role="fieldcontain">
                <label for="kommentarZeitEditor">Kommentar (f&uuml;r Kunden sichtbar)</label>
                <textarea cols="40" rows="8" name="kommentarZeitEditor" id="kommentarZeitEditor"></textarea>
            </div>
            <button type="submit">Sichern</button>
        </form>
    </div>
</div>
<div data-role="page" id="uebersicht" data-add-back-btn="true">
    <div data-role="header">
        <h1>&Uuml;bersicht</h1>
    </div>
    <div data-role="content">

    </div>
</div>

<script id="tabbar" type="text/x-jquery-tmpl">
    <div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="#zeitEditor" {{if active=='neu'}} class="ui-btn-active,ui-state-persist" {{/if}}
                    data-icon="star">ZeitEditor</a></li>
                <li><a href="#uebersicht" {{if active=='uebersicht'}} class="ui-btn-active,ui-state-persist" {{/if}} >&Uuml;bersicht</a>
                </li>
            </ul>
        </div>
    </div>
</script>

</body>
</html>