.page {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    outline: none;
    background-color: #9a9b91;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(154, 155, 145)), to(rgb(252, 252, 252)));
    background-image: -webkit-linear-gradient(top, rgb(154, 155, 145), rgb(252, 252, 252));
    background-image: -moz-linear-gradient(top, rgb(154, 155, 145), rgb(252, 252, 252));
    background-image: -o-linear-gradient(top, rgb(154, 155, 145), rgb(252, 252, 252));
    background-image: -ms-linear-gradient(top, rgb(154, 155, 145), rgb(252, 252, 252));
    background-image: linear-gradient(top, rgb(154, 155, 145), rgb(252, 252, 252));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9a9b91', EndColorStr='#fcfcfc');
}
.active-page {
    display: block;
}
.page-header {
    background-color: #67655e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(103, 101, 94)), to(rgb(33, 33, 33)));
    background-image: -webkit-linear-gradient(top, rgb(103, 101, 94), rgb(33, 33, 33));
    background-image: -moz-linear-gradient(top, rgb(103, 101, 94), rgb(33, 33, 33));
    background-image: -o-linear-gradient(top, rgb(103, 101, 94), rgb(33, 33, 33));
    background-image: -ms-linear-gradient(top, rgb(103, 101, 94), rgb(33, 33, 33));
    background-image: linear-gradient(top, rgb(103, 101, 94), rgb(33, 33, 33));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#67655e', EndColorStr='#212121');
    padding: 5px;
    text-align: center;
}

.page-header h1 {
    margin: 0;
    font-size: 16px;
    color: white;
}

.listview {
    list-style: none;
    display: block;
    margin: 5px;
    padding: 5px;
}

.listview li a {
    border: 1px solid gray;
    border-collapse: separate;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(199, 199, 187)));
    background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(199, 199, 187));
    background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(199, 199, 187));
    background-image: -o-linear-gradient(top, rgb(252, 252, 252), rgb(199, 199, 187));
    background-image: -ms-linear-gradient(top, rgb(252, 252, 252), rgb(199, 199, 187));
    background-image: linear-gradient(top, rgb(252, 252, 252), rgb(199, 199, 187));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#c7c7bb');
}

.listview li:first-child a {
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.listview li:last-child a {
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}